# Cypress specific
*/cypress/videos/
*/cypress/screenshots/
*/cypress/results/
*/cypress/plugins/
*/cypress/logs/
*/cypress/.cache/
*/cypress/.run/
*/cypress/report/
*/cypress/report.html
*/cypress.json

# Appium specific
*/node_modules/
*/platforms/
/*.apk
/*.app
*.appium
*.debug
*.trace
/build/
